/* App.css */

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.app-container {
  background-color: black;
  display: flex; /* 'flex' should not be in quotes */
  justify-content: center;
  align-items: center;
}
